# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment files
.env
.env.*

# Docker
Dockerfile*
docker-compose*
.dockerignore

# OS files
.DS_Store

# IDEs
.vscode/
.idea/ 